//small screen screen (smartphones) 

@include mediasm{

    main#home h1{
        margin-top:10vh ;
    }

    .projects{
        grid-template-columns: repeat(1fr);
    }

}

// medium screen (tablets or small laptop)

@include mediamd{
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;


        &.show{
            transform: translate3d();
        }
    }

    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }

    .menu-branding{
        height: 25vh;
        transform: translate3d(100%,0,0);
    }

    .portrait{
        background: url('../img/b.jpg');
        width: 100px;
        height: 100px;
        padding-top: 5px;
    }

    .about-info{
        grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3' ;
        grid-template-columns: 1fr;

    }

    .projects{
        grid-template-columns: repeat(2,1fr);
    }

    
}

//small large screen (for desktop or laptop)

@include medialg{
    .projects{
        grid-template-columns: repeat(3,1fr);
    }
    
}

//wide screen

@include mediaxl{
.projects{
    grid-template-columns: repeat(4,1fr);
}
    
}